.container-toolbar{
    width:150px ;
    height: 90vh;
    background-color: black;
    color: white;
    
}

.prova{
    height: 80px;
    background-color: aqua;
}

::-webkit-scrollbar{
    width: 5px;

}

::-webkit-scrollbar-thumb{
    background-color: aliceblue;
}

.scroll-bar{
    overflow: auto;
    padding-right: 10px;
}

.background-img{
    background-image: url(./img/sidebar-bg.png);
}
.border-tab{
    border-bottom: solid 1px black;
}



@media screen and (max-width: 768px){
    #icon-none{
        display:none;
    }
    #span-none{
        
        display:none;
    }

}


@media screen and (max-width: 576px){
    #jumbo{
        display: flex;
        flex-direction: column-reverse;
    }
    #span-none{
        
        display:none;
    }

    #div-none{
               display:none;
    }
    
    #div-p{
        
    }

}



